@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	margin-inline: auto;
	width: min(90%, 1024px);
}

body {
	background-color: rgba(245, 245, 220, 0.5);
	font-family: 'Kumbh Sans', sans-serif;
	font-optical-sizing: auto;
	font-variation-settings: 'YOPQ' 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Josefin Sans', sans-serif;
	font-optical-sizing: auto;
}

@layer components {
	.btn {
		@apply py-2.5 cursor-pointer rounded-lg mt-20 px-6 text-white font-semibold bg-purple-800;
	}
}
